{% extends 'base.html.twig' %}

{% block body %}
    <h1>Disponibilidad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disponibilidad.id }}</td>
            </tr>
            <tr>
                <th>Disinicioam</th>
                <td>{% if disponibilidad.disInicioAm %}{{ disponibilidad.disInicioAm|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Disfinam</th>
                <td>{% if disponibilidad.disFinAm %}{{ disponibilidad.disFinAm|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Disiniciopm</th>
                <td>{% if disponibilidad.disInicioPm %}{{ disponibilidad.disInicioPm|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Disfinpm</th>
                <td>{% if disponibilidad.disFinPm %}{{ disponibilidad.disFinPm|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Disdia</th>
                <td>{{ disponibilidad.disDia }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pers_disponibilidad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pers_disponibilidad_edit', { 'id': disponibilidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
