{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet"  href="{{ asset('assets/css/materialize.css') }}" />
            <link rel="stylesheet"  href="{{ asset('assets/css/style.css') }}" />
            <link rel="stylesheet"  href="{{ asset('assets/css/prism.css') }}" />
            {#<link rel="stylesheet"  href="{{ asset('assets/css/page-center.css') }}" />#}


        {% endblock %}

{% block body %}
    <div id="espacio"></div>

    <h4 class="header center">Rubros</h4>
    <div class="divider"></div>

        {#<tr>#}
        {#<td><a href="{{ path('admin_rubro_show', { 'id': rubro.id }) }}">{{ rubro.id }}</a></td>#}
        {#<td>{{ rubro.rubNombre }}</td>#}
        {#<td>{{ rubro.rubFoto }}</td>#}
        {#<td>{{ rubro.rubDireccion }}</td>#}
        {#<td>{{ rubro.rubSlug }}</td>#}
        {#<td>#}
        {#<ul>#}
        <div id="card-reveal " class="section ">

            <div class="row ">
                {% for rubro in rubros %}

                    <div class="col s6 m8 offset-l1 l5">

                        <div class="row">

                            <div class="col s12 m8 l9">

                                <div class="card z-depth-2">

                                    <div class="card-image waves-effect waves-block waves-light">
                                        <a href="{{ path('general_rubro', { 'rubroID': rubro.id }) }}"><img class="activator" src="{{asset('assets/images/'~rubro.rubFoto)}}" alt="office"></a>
                                    </div>
                                    <div class="card-content center">
                                        <span class="card-title activator grey-text text-darken-4">{{ rubro.rubNombre }}</span>
                                        <p class="center">
                                            <a class="waves-effect waves-light btn" href="{{ path('general_rubro', { 'rubroID': rubro.id }) }}">Entrar</a>
                                        </p>

                                    </div>
                                    {#<div class="card-reveal">#}
                                        {#<span class="card-title grey-text text-darken-4">{{ rubro.rubNombre }}<i class="mdi-navigation-close right"></i></span>#}
                                        {#<p>{{ negocio.negDescripcion }}</p>#}
                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>





    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery-1.11.2.min.js') }}"></script>

        <script src="{{ asset('assets/js/materialize.js') }}"></script>
    {% endblock %}
{% endblock %}
