{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personal in personals %}
            <tr>
                <td><a href="{{ path('admin_personal_show', { 'id': personal.id }) }}">{{ personal.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_personal_show', { 'id': personal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_personal_edit', { 'id': personal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_personal_new') }}">Create a new personal</a>
        </li>
    </ul>
{% endblock %}
