{#{% extends 'base.html.twig' %}#}
{% block stylesheets %}

    <link rel="stylesheet"  href="{{ asset('assets/css/materialize.css') }}" />
    <link rel="stylesheet"  href="{{ asset('assets/css/style.css') }}" />
    <link rel="stylesheet"  href="{{ asset('assets/css/prism.css') }}" />
    <link href="{{ asset('assets/css/page-center.css') }}" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="{{ asset('assets/js/plugins/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css" rel="stylesheet" media="screen,projection">

{% endblock %}
{#{% block body %}#}

    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
        </head>
        <body class="cyana">
            {#<div>#}
                {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                    {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                    {#<a href="{{ path('fos_user_security_logout') }}">#}
                        {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                    {#</a>#}
                {#{% else %}#}
                    {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                {#{% endif %}#}
            {#</div>#}

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </body>
    </html>
    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery-1.11.2.min.js') }}"></script>

        <script src="{{ asset('assets/js/materialize.js') }}"></script>
    {% endblock %}


{#{% endblock %}#}