{% extends 'base.html.twig' %}
        {% block stylesheets %}
            <link rel="stylesheet"  href="{{ asset('assets/css/materialize.css') }}" />
            <link rel="stylesheet"  href="{{ asset('assets/css/style.css') }}" />
            <link rel="stylesheet"  href="{{ asset('assets/css/prism.css') }}" />
            {#<link rel="stylesheet"  href="{{ asset('assets/css/page-center.css') }}" />#}


        {% endblock %}

{% block body %}


    {% for rubro in rubros %}
        {#<tr>#}
            {#<td><a href="{{ path('admin_rubro_show', { 'id': rubro.id }) }}">{{ rubro.id }}</a></td>#}
            {#<td>{{ rubro.rubNombre }}</td>#}
            {#<td>{{ rubro.rubFoto }}</td>#}
            {#<td>{{ rubro.rubDireccion }}</td>#}
            {#<td>{{ rubro.rubSlug }}</td>#}
            {#<td>#}
                {#<ul>#}
                    {#<li>#}
                        {#<a href="{{ path('admin_rubro_show', { 'id': rubro.id }) }}">show</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('admin_rubro_edit', { 'id': rubro.id }) }}">edit</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</td>#}
        {#</tr>#}

    {% endfor %}
    <ul>
        <li>
            <a href="{{ path('admin_rubro_new') }}">Create a new rubro</a>
        </li>
    </ul>
{% endblock %}
